# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_weather_info_path = "../WeatherPy/city_weather_info.csv"
city_weather_info = pd.read_csv(city_weather_info_path)

city_weather_info

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed,Date
0,cape town,ZA,-33.93,18.42,64.20,42,0,25.28,1604066921
1,gat,IL,31.61,34.76,78.24,100,0,1.99,1604066921
2,nikolskoye,RU,59.70,30.79,47.37,81,90,4.47,1604066921
3,hermanus,ZA,-34.42,19.23,66.00,50,0,7.00,1604066922
4,montes altos,BR,-5.83,-47.07,82.40,74,75,2.24,1604066922
...,...,...,...,...,...,...,...,...,...
560,necochea,AR,-38.55,-58.74,66.00,44,10,5.99,1604066592
561,mapimi,MX,25.82,-103.85,53.60,40,5,6.55,1604067024
562,zanesville,US,39.94,-82.01,42.46,87,90,10.29,1604066744
563,mount isa,AU,-20.73,139.50,77.00,14,0,10.29,1604067024
564,kribi,CM,2.95,9.92,81.50,79,69,11.30,1604067024

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Set variables for city locations (lat/long) and humidity
locations = city_weather_info[["Lat","Long"]]
humidity = city_weather_info["Humidity"].astype(float)

In [17]:
figure_layout = {'width':'900px', 'height':'650px', 'border':'1px solid black', 'padding':'1px', 'margin':'0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout)

# Heat Layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=100, point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='650px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
vacation_weather = city_weather_info.loc[(city_weather_info["Temp"]>60)&(city_weather_info["Temp"]<75)&
                                        (city_weather_info["Wind Speed"]<10)&(city_weather_info["Cloudiness"]==0)]
vacation_weather

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed,Date
3,hermanus,ZA,-34.42,19.23,66.00,50,0,7.00,1604066922
20,colares,PT,38.80,-9.45,73.36,47,0,3.36,1604066925
56,lata,PT,40.16,-8.33,72.14,58,0,3.85,1604066931
59,akhmeta,GE,42.03,45.21,68.00,52,0,5.82,1604066931
87,tigzirt,DZ,36.89,4.12,72.68,48,0,8.95,1604066937
117,constitucion,CL,-35.33,-72.42,66.43,53,0,4.52,1604066756
136,huilong,CN,31.81,121.66,61.75,71,0,6.17,1604066652
173,grand gaube,MU,-20.01,57.66,71.01,49,0,5.99,1604066953
188,xichang,CN,27.90,102.26,62.29,77,0,3.56,1604066659
223,buin,CL,-33.73,-70.75,66.81,36,0,3.36,1604066961
262,millau,FR,44.08,2.92,64.58,52,0,2.28,1604066968
310,san javier,ES,37.81,-0.84,70.50,60,0,5.82,1604066976
314,cortes,ES,41.94,-1.44,68.00,49,0,2.24,1604066977
345,general roca,AR,-39.03,-67.58,66.20,29,0,6.93,1604066983
381,tempio pausania,IT,40.90,9.10,71.60,60,0,4.70,1604066989
398,dalby,AU,-27.18,151.27,73.00,62,0,4.00,1604066768
484,geraldton,AU,-28.77,114.60,68.00,82,0,4.70,1604067008
488,cap malheureux,MU,-19.98,57.61,71.01,49,0,5.99,1604067009
504,damavand,IR,35.72,52.06,73.15,15,0,6.93,1604067013
551,oktyabrskoye,RU,43.06,44.74,62.29,63,0,8.95,1604067022
556,herat,AF,34.50,62.00,60.80,17,0,3.36,1604066620

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = vacation_weather.copy()

hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
3,hermanus,ZA,-34.42,19.23,66.00,50,0,7.00,1604066922,
20,colares,PT,38.80,-9.45,73.36,47,0,3.36,1604066925,
56,lata,PT,40.16,-8.33,72.14,58,0,3.85,1604066931,
59,akhmeta,GE,42.03,45.21,68.00,52,0,5.82,1604066931,
87,tigzirt,DZ,36.89,4.12,72.68,48,0,8.95,1604066937,
117,constitucion,CL,-35.33,-72.42,66.43,53,0,4.52,1604066756,
136,huilong,CN,31.81,121.66,61.75,71,0,6.17,1604066652,
173,grand gaube,MU,-20.01,57.66,71.01,49,0,5.99,1604066953,
188,xichang,CN,27.90,102.26,62.29,77,0,3.56,1604066659,
223,buin,CL,-33.73,-70.75,66.81,36,0,3.36,1604066961,
262,millau,FR,44.08,2.92,64.58,52,0,2.28,1604066968,
310,san javier,ES,37.81,-0.84,70.50,60,0,5.82,1604066976,
314,cortes,ES,41.94,-1.44,68.00,49,0,2.24,1604066977,
345,general roca,AR,-39.03,-67.58,66.20,29,0,6.93,1604066983,
381,tempio pausania,IT,40.90,9.10,71.60,60,0,4.70,1604066989,
398,dalby,AU,-27.18,151.27,73.00,62,0,4.00,1604066768,
484,geraldton,AU,-28.77,114.60,68.00,82,0,4.70,1604067008,
488,cap malheureux,MU,-19.98,57.61,71.01,49,0,5.99,1604067009,
504,damavand,IR,35.72,52.06,73.15,15,0,6.93,1604067013,
551,oktyabrskoye,RU,43.06,44.74,62.29,63,0,8.95,1604067022,
556,herat,AF,34.50,62.00,60.80,17,0,3.36,1604066620,

In [18]:
hotel_lats = hotel_df["Lat"].tolist()
hotel_longs = hotel_df["Long"].tolist()
#hotel_lats, hotel_longs

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {"radius":5000,"type":"lodging","key":g_key}

for index, row in hotel_df.iterrows():
    hotel_lat = row["Lat"]
    hotel_long = row["Long"]
    
    params["location"] = f"{hotel_lat},{hotel_long}"
    #print(params)
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_name = requests.get(base_url, params=params)
    
    hotel_name = hotel_name.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_name["results"][0]['name']
        print(f"Hotel found and added to list")
        
    except (KeyError, IndexError):
        print("No hotel in range....skipping")

Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
Hotel found and added to list
No hotel in range....skipping

In [9]:
hotel_df

,City,Country,Lat,Long,Temp,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
3,hermanus,ZA,-34.42,19.23,66.00,50,0,7.00,1604066922,Misty Waves Boutique Hotel
20,colares,PT,38.80,-9.45,73.36,47,0,3.36,1604066925,Arribas Sintra Hotel
56,lata,PT,40.16,-8.33,72.14,58,0,3.85,1604066931,Casa Maquia
59,akhmeta,GE,42.03,45.21,68.00,52,0,5.82,1604066931,hotel kvavlo
87,tigzirt,DZ,36.89,4.12,72.68,48,0,8.95,1604066937,Bloc D tazoumbirt (amar)
117,constitucion,CL,-35.33,-72.42,66.43,53,0,4.52,1604066756,Hotel Boutique Las Azucenas
136,huilong,CN,31.81,121.66,61.75,71,0,6.17,1604066652,Hilton Garden Inn Qidong
173,grand gaube,MU,-20.01,57.66,71.01,49,0,5.99,1604066953,Veranda Paul et Virginie Hotel & Spa
188,xichang,CN,27.90,102.26,62.29,77,0,3.56,1604066659,Xichang ibis Hotel
223,buin,CL,-33.73,-70.75,66.81,36,0,3.36,1604066961,Paihuen
262,millau,FR,44.08,2.92,64.58,52,0,2.28,1604066968,Hôtel Les Raspes
310,san javier,ES,37.81,-0.84,70.50,60,0,5.82,1604066976,Hotel Mar Menor
314,cortes,ES,41.94,-1.44,68.00,49,0,2.24,1604066977,Rincon de bu
345,general roca,AR,-39.03,-67.58,66.20,29,0,6.93,1604066983,Hotel El Recreo
381,tempio pausania,IT,40.90,9.10,71.60,60,0,4.70,1604066989,Hotel Pausania Inn
398,dalby,AU,-27.18,151.27,73.00,62,0,4.00,1604066768,Kobbers Motor Inn Dalby
484,geraldton,AU,-28.77,114.60,68.00,82,0,4.70,1604067008,Broadwater Mariner Resort
488,cap malheureux,MU,-19.98,57.61,71.01,49,0,5.99,1604067009,Pereybere Hotel & Spa
504,damavand,IR,35.72,52.06,73.15,15,0,6.93,1604067013,آپارتمان زمانیان
551,oktyabrskoye,RU,43.06,44.74,62.29,63,0,8.95,1604067022,Prolesok Mini-hotel
556,herat,AF,34.50,62.00,60.80,17,0,3.36,1604066620,

In [10]:
# Some alternate ways I tried to get my places query working
#base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
#params = {"rankby":"distance","type":"lodging","key":g_key}
#params = {"input":"hotel","fields":"name","key":g_key}

#"locationbias=circle:5000@"

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
hotel_locations = hotel_df[["Lat", "Long"]]
#hotel_locations

In [13]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(hotel_locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))